* {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    position: relative;
}

#top_nav {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    z-index: 10;
}

#top_nav #left_side_nav {
    position: relative;
    /* background-color: green; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 10px;
}

.contactMeBtn {
    position: relative;
    background-color: black;
    color: white;
    width: 10rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
}

.contactMeBtn:hover {
    position: relative;
    background-color: rgb(138, 138, 138);
    color: black;
    width: 10.5rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
}

#profilePic {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}

body:has(.contactMeBtn:hover) #profilePic {
    border-radius: 0%;
}

#top_nav #right_side_nav {
    position: relative;
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top_nav #right_side_nav a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: calc(14px + 0.6rem) 16px;
    font-weight: bold;
    font-size: 1vmax;
    transition: all 0.2s ease-in-out;
}

#top_nav #right_side_nav a:hover {
    position: relative;
    text-decoration: none;
    background-color: rgb(124, 124, 124);
    color: white;
}

.selectedNav {
    position: relative;
    text-decoration: none;
    background-color: rgb(124, 124, 124);
    color: white !important;
}

#main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main #mainRight {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main #mainRight div {
    font-size: 6vmax;
    font-weight: bold;
    line-height: 95%;
}

#main #mainLeft {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25) inset;
    animation: none;
    background-color: white;
    z-index: 9;
}

@keyframes slideLeft {
    0% {
        position: absolute;
        height: 100%;
        width: 50%;
        left: calc(50vw - 7.7px);
        top: 0px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25) inset; */
        outline: none;
        z-index: 9;
        color: black;
    }
    40% {
        outline: solid 2px black;
        position: absolute;
        height: 102%;
        width: 52%;
        left: calc(50vw - 7.7px);
        top: -10px;
        box-shadow: 0px 40px 20px 5px rgba(0,0,0,0.75);
        /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25) inset; */
        z-index: 11;
        color: white;
    }
    70% {
        outline: solid 2px black;
        position: absolute;
        height: 102%;
        width: 52%;
        left: 0vw;
        top: -10px;
        box-shadow: 0px 40px 20px 5px rgba(0,0,0,0.75);
        /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25) inset; */
        z-index: 11;
        color: white;
    }
    99% {
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0vw;
        top: 0px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25) inset; */
        outline: none;
        z-index: 9;
        color: black;
    }
    100% {
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0vw;
        top: 0px;
        /* box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75); */
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25) inset;
        outline: none;
        z-index: 9;
        color: black;
    }
}

#main #mainLeft div {
    position: relative;
    height: auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vmax
}

.instruction {
    position: absolute !important;
    color: rgb(194, 194, 194);
    font-style: italic;
    opacity: 0;
    text-align: center;
    padding: 2vmax;
    transition: all 0.2s ease-in-out;
    top: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
}
#main:has(#mainLeft:hover) .instruction[transfered="false"] {
    opacity: 0.7;
}

#footer {
    position: relative;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #Fcase {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

#upperPart {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: solid 1px rgb(156, 156, 156);
}

#bottomLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#bottomLogo img {
    position: relative;
    height: 40px;
    width: 40px;
    filter: invert(50%);
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

#bottomLogo img:hover {
    position: relative;
    height: 40px;
    width: 40px;
    filter: invert(0%);
    padding: 10px 15px;
}

#showTime {
    position: relative;
    display:flex;
    height:100%;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickMe {
    position: relative;
    color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(139,0,0,1);
    transition: all 1s ease-in-out;
    transform: scale(1);
    box-shadow: 10px 0px 50px 0px rgb(75, 75, 75);
}

#clickMe:hover[transfered=false] {
    animation: showTime_Hover 1.2s ease-in-out infinite;
}

@keyframes showTime_Hover {
    0% {
        background-color: rgba(139,0,0,1);
        transform: scale(1);
    }
    50% {
        background-color: rgba(255,0,0,1);
        transform: scale(1.2);
    }
    100% {
        background-color: rgba(139,0,0,1);
        transform: scale(1);
    }
}

@keyframes enlargeAnim {
    0% {
        transform: scale(1);
        position: relative;
        border-radius: 100%;
        z-index:1000;
        color:white;
    }
    20% {
        color:rgba(139,0,0,1);
    }
    100% {
        transform: scale(100);
        position: relative;
        border-radius: 0;
        z-index:1000;
        color:rgba(139,0,0,1);
    }
}